.navbar {
    margin-bottom: 0px;
}
.margin-myCarousel{
    margin-top: 22px;
}
.panel-default {
    border-top-color: #ff3300;
    border-bottom-color: #d3e0e9;
    border-left-color: #d3e0e9;
    border-right-color: #d3e0e9;
}
.prmot-list{
    width: 410px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 120px;
    margin-left: 5px;
    margin-top: 4px;
}
.prmot-left{
    padding-top: 4px;
    padding-left: 0px;
}
.prmot-right{
    padding-top: 4px;
    padding-left: 0px;
}
.name{
    width: 100%;
    display: block;
    color: #ff3300;
    font-weight: bold;
}
.info{
    width: 100%;
    display: block;
    border-bottom:1px solid #ddd;
}
.prmot-rigth .info span {
    margin-right: 10px;
}
.info{
    width: 100%;
    display: block;
    border-bottom:1px solid #ddd;
}
.inner-talk{
    width: 100%;
    display: block;
    border-bottom:1px solid #ddd;
}
.prmot-rigth .inner-talk span{
    font-weight: bold;
}

.btn-danger {
    color: #fff;
    background-color: #ff3300;
    border-color: #ff3300;
    height:20px;
    line-height: 0.7;
    font-size: 12px;
}